@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
    url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    width: 100%;
    height: 100%;
    color: #cdcfd3;
    background-color: #23272a;
    font-family: ralewaymedium, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

/* nav portion */
header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background: #4e555c;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.31);

}
header nav {
    height: inherit;
    max-width: 1200px;
    margin: auto;

}
nav ul {
    float: right;
    height: 30px;
    margin: 15px 0;
}
nav li {
    box-sizing: border-box;
    width: auto;
    display: inline-block;
    list-style-type: none;
    color: inherit;
    height: inherit;
    line-height: 24px;
    text-align: center;
    margin-left: 5px;
    padding: 1px 12px;
    border: 2px solid #666e75;
    border-radius: 20px;
    cursor:pointer;
    background: linear-gradient(#4E555C 0%, #4E555C 20%, rgb(42, 171, 178) 60%);
    background-size:1px 400px;
}
nav li:hover {
    color: white;
    border: 2px solid white;
    background-position: 400px;
    transition-property: border, color, background;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

/* logo */
header .logo {
    padding: 5px;
    cursor:pointer;
}
/* for smaller screens */

.menuWrap {
    display: none;
    margin-right: 2px;
}
.menuWrap .checkBox {
    margin: 5px;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    grid-row: 1;
}

.menuWrap img {
    margin: 5px;
    z-index: 1;
    width: 50px;
    height: 50px;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    grid-row: 1;
}


@media only screen and (max-width: 720px) {
    header nav ul {
        display: none;
    }
    header nav {
        width: 100%;
    }
    .menuWrap {
        display: -ms-grid;
        display: grid;
        float: right;
    }
}


/* main content */
.mainContent {
    max-width: 1200px;
    min-width: 720px;
    margin: 70px auto;
    display: block;
    word-wrap: break-word;
}