@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
    url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    width: 100%;
    color: #cdcfd3;
    background-color: #23272a;
    font-family: ralewaymedium, sans-serif;
    font-size: 18px;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

/* nav portion */
header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background: #4e555c;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.31);
    z-index: 5;
}
header nav {
    height: inherit;
    max-width: 1200px;
    margin: auto;

}
nav ul {
    float: right;
    height: 30px;
    margin: 15px 0;
    padding: 0;
}
nav li {
    box-sizing: border-box;
    width: auto;
    display: inline-block;
    list-style-type: none;
    color: inherit;
    height: inherit;
    line-height: 24px;
    text-align: center;
    margin-right: 5px;
    padding: 1px 12px;
    border: 2px solid #666e75;
    border-radius: 20px;
    cursor:pointer;
    background: linear-gradient(#4E555C 0%, #4E555C 20%, rgb(42, 171, 178) 60%);
    background-size:1px 400px;
}
nav li:hover {
    color: white;
    border: 2px solid white;
    background-position: 400px;
    transition-property: border, color, background;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

/* logo */
header .logo {
    padding: 5px;
    cursor:pointer;
}


/* for smaller screens */
.menuWrap {
    display: none;
}

.menuWrap:active{
    background: #79848e;
}
.menuWrap .checkBox {
    margin: 5px;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    grid-row: 1;
}

.menuWrap img {
    margin: 5px;
    z-index: 1;
    width: 50px;
    height: 50px;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    grid-row: 1;
}

@media only screen and (max-width: 745px) {
    header nav ul {
        display: none;
    }
    header nav {
        width: 100%;
    }
    .menuWrap {
        display: -ms-grid;
        display: grid;
        float: right;
    }

}

header .menuSlider {
    width: 80vw;
    height: 420px;
    background: #4E555C;
    position: absolute;
    top: 60px;
    left: 100vw;
    opacity: 0;
    box-shadow: -22px 22px 30px -9px rgba(0,0,0,0.4);
}

header .menuSlider div{
    display: block;
    margin: 0;
    padding-left: 10vw;
    height: 70px;
    width: 80vw;
    line-height: 70px;
    text-align: left;
    color: white;
    cursor:pointer;
    font-size: 130%;
}

header .menuSlider div:hover, header .menuSlider div:active {
    background: #79848e;
}

header .menuWrap .checkBox:checked ~ .menuSlider {
    opacity: 1;
    left: 20vw;
    transition: left 0.3s ease-in-out;
}

/* footer */
footer {
    min-height: 74px;
    width: 100%;
    background: #0e1011;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.footerContent {
    font-family: ralewayregular, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 70%;
    color: #88898d;
    padding: 10px 10px 0 10px;
    line-height: 1.5;
}
.leftSideFooter {
    width: 65%;
    display: inline-block;
}
.footerLogo {
    float: left;
    padding: 0 20px 10px 0;
}

.rightSide{
    float: right;
    font-size: 120%;
    display: inline-block;
    width: 25%;
}
.lineFooter {
    height: 54px;
    width: 1px;
    border-left: 1px solid #3e3f43;
    float:  left;
    display: inline-block;
    margin-right: 10px;
}
.twitter, .instagram {
    height: 26px;
    width: 26px;
    border: 1px solid #5e5f63;
    border-radius: 25px;
    display: inline-block;
    margin: 3px 10px 0 0;
    background: linear-gradient(#0e1011 0%, #0e1011 20%, rgb(42, 171, 178) 60%);
    background-size:1px 400px;
    cursor: pointer;
}

.instagramLogo, .twitterLogo{
    width: 18px;
    padding: 4px;
}

.twitter:hover, .instagram:hover, .twitter:active, .instagram:active{
    color: white;
    border: 1px solid white;
    background-position: 400px;
    transition-property: border, color, background;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

/* media query for footer */
@media only screen and (max-width: 700px) {
    .leftSideFooter {
        width: 100%;
    }
    .rightSide {
        width: 100%;
        float: left;
        border-top: 1px solid #3E3F43;
        padding-top: 10px;
        margin: 10px 0 10px 0;
    }
    .lineFooter {
        display: none;
    }
    .twitter, .instagram {
        height: 35px;
        width: 35px;
    }
    .twitterLogo, .instagramLogo{
        width: 27px;
    }
    body .signupContentHolder {
        padding-bottom: 220px;
    }
}



/* main content */
.signupContentHolder {
    width: 100%;
    min-width: 200px;
    max-width: 1000px;
    padding-top: 80px;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
}

.signUpComment {
    width: 95%;
    text-align: center;
    font-size: 120%;
    padding: 5px;
    margin: auto;
}
.signupContentHolder form {
    width: 360px;
    margin: 10px auto;
}
.inputHolder {
    background: #4E555C;
    border: 1px solid #8c98a5;
    width: 360px;
    border-radius: 5px;
}

.inputHolder input{
    display: block;
    height: 40px;
    font-size: 130%;
    width: 350px;
    background: none;
    border: none;
    color: white;
    padding-left: 10px;
    font-family: ralewaymedium;
}

.signupContentHolder .inputHolder input:focus{
    background: #69727a;
}


.inputHolder ::placeholder {
    color: #adb0b4;
    font-size: 80%;
    line-height: 40px;
    vertical-align: middle;
}

.inputHolder :-ms-input-placeholder {
    color: #adb0b4;
    font-size: 80%;
    line-height: 40px;
    vertical-align: middle;
}



.signupContentHolder input[type=submit]{
    margin-top: 20px;
    font-family: ralewaybold;
    font-size: 140%;
    width: 150px;
    height: 40px;
    border: 2px solid #5e5f63;
    border-radius: 25px;
    color: #cdcfd3;
    cursor: pointer;
    background: linear-gradient(#23272a 0%, #23272a 20%, rgb(42, 171, 178) 60%);
    background-size:1px 400px;
}

.signupContentHolder #submit:hover, .signupContentHolder #submit:active{
    color: white;
    border: 2px solid white;
    background-position: 400px;
    transition-property: border, color, background;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

@media only screen and (max-width: 400px) {
    .signupContentHolder form {
        width: 290px;
    }
    .inputHolder {
        width: 290px;
    }
    .inputHolder input {
        width: 280px;
    }
}